doctype html 

html(lang="en-UK")

  head 
    block title
      title ThrSqr - There or Square 
    meta(charset="UTF-8")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Hepta+Slab")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto")
    // link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/normalize.css")
    link(rel="stylesheet" href="/stylesheets/application.css")
    meta(name="author" content="Marc Hermann")
    meta(name="description" content="ThrSqr - RSVP tracker for weekly events and friendly people.")
    block script
      script(src="/javascript/application.js")

  body 
    header 
      block headerlinks 
        <a href="/">Home</a> | <a href="/reset/user">Reset user data for this browser</a>

    main 
      - let msgTypes = Object.keys(flash || {});
      if msgTypes.length > 0
      ul 
        each msgType in msgTypes 
          each message in flash[msgType] 
            li.flash(class=type)= message 

      block main 

    footer 
      p PS: ThrSqr is still in development, nothing is set in stone, and things may change at a whim. <strong>This may lead to a loss of data<strong>. 