<h1>Privacy Policy</h1>
<h2 id="einleitung-ueberblick-en">Privacy Policy</h2>
<p>We have written this privacy policy (version 28.09.2021-311840430) in order to explain to you, in accordance with the provisions of the <a href="https://eur-lex.europa.eu/legal-content/EN/ALL/?uri=celex%3A32016R0679&amp;amp%3Btid=%5Badsimpletextid]" target="_blank" rel="noopener">General Data Protection Regulation (EU) 2016/679</a> and applicable national laws, which personal data (data for short) we as the controller – and the processors commissioned by us (e.g. providers) – process, will process in the future and what legal options you have. The terms used are to be considered as gender-neutral.<br />
<strong>In short:</strong> We provide you with comprehensive information about any personal data we process about you.</p>
<p>Privacy policies usually sound very technical and use legal terminology. However, this privacy policy is intended to describe the most important things to you as simply and transparently as possible. So long as it aids transparency, technical <strong>terms are explained in a reader-friendly manner, links</strong> to further information are provided and <strong>graphics</strong> are used. We are thus informing in clear and simple language that we only process personal data in the context of our business activities if there is a legal basis for it. This is certainly not possible with brief, unclear and legal-technical statements, as is often standard on the Internet when it comes to data protection. I hope you find the following explanations interesting and informative. Maybe you will also find some information that you have not been familiar with.<br />
If you still have questions, we would like to ask you to contact the responsible body named below or in the imprint, to follow the existing links and to look at further information on third-party sites. You can of course also find our contact details in the imprint.</p>
<h2 id="anwendungsbereich-en">Scope</h2>
<p>This privacy policy applies to all personal data processed by our company and to all personal data processed by companies commissioned by us (processors). With the term personal data, we refer to information within the meaning of Article 4 No. 1 GDPR, such as the name, email address and postal address of a person. The processing of personal data ensures that we can offer and invoice our services and products, be it online or offline. The scope of this privacy policy includes:</p>
<ul>
<li>all online presences (websites, online shops) that we operate</li>
<li>Social media presences and email communication</li>
<li>mobile apps for smartphones and other devices</li>
</ul>
<p>
<strong>In short:</strong> This privacy policy applies to all areas in which personal data is processed in a structured manner by the company via the channels mentioned. Should we enter into legal relations with you outside of these channels, we will inform you separately if necessary.</p>
<h2 id="rechtsgrundlagen-en">Legal bases</h2>
<p>In the following privacy policy, we provide you with transparent information on the legal principles and regulations, i.e. the legal bases of the General Data Protection Regulation, which enable us to process personal data.<br />
Whenever EU law is concerned, we refer to REGULATION (EU) 2016/679 OF THE EUROPEAN PARLIAMENT AND OF THE COUNCIL of April 27, 2016. You can of course access the General Data Protection Regulation of the EU online at EUR-Lex, the gateway to EU law, at <a href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&amp;tid=311840430" target="_blank" rel="noopener">https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex%3A32016R0679</a>.</p>
<p>We only process your data if at least one of the following conditions applies:</p>
<ol>
<li>
<strong>Consent</strong> (Article 6 Paragraph 1 lit. a GDPR): You have given us your consent to process data for a specific purpose. An example would be the storage of data you entered into a contact form.</li>
<li>
<strong>Contract</strong> (Article 6 Paragraph 1 lit. b GDPR): We process your data in order to fulfill a contract or pre-contractual obligations with you. For example, if we conclude a sales contract with you, we need personal information in advance.</li>
<li>
<strong>Legal obligation</strong> (Article 6 Paragraph 1 lit. c GDPR): If we are subject to a legal obligation, we will process your data. For example, we are legally required to keep invoices for our bookkeeping. These usually contain personal data.</li>
<li>
<strong>Legitimate interests</strong> (Article 6 Paragraph 1 lit. f GDPR): In the case of legitimate interests that do not restrict your basic rights, we reserve the right to process personal data. For example, we have to process certain data in order to be able to operate our website securely and economically. Therefore, the processing is a legitimate interest.</li>
</ol>
<p>Other conditions such as making recordings in the interest of the public, the exercise of official authority as well as the protection of vital interests do not usually occur with us. Should such a legal basis be relevant, it will be disclosed in the appropriate place.</p>
<p>In addition to the EU regulation, national laws also apply:</p>
<ul>
<li>In <strong>Austria</strong> this is the Austrian Data Protection Act (<strong>Datenschutzgesetz</strong>), in short <strong>DSG</strong>.</li>
<li>In <strong>Germany</strong> this is the Federal Data Protection Act (<strong>Bundesdatenschutzgesetz</strong>), in short <strong>BDSG</strong>.</li>
</ul>
<p>Should other regional or national laws apply, we will inform you about them in the following sections.</p>
<h2 id="kontaktdaten-verantwortliche-en">Contact details of the data protection controller</h2>
<p>If you have any questions about data protection, you will find the contact details of the responsible person or controller below:<br />
Musterfirma GbR<br />
Max Mustermann<br />
Musterstraße 47, 12312 Musterstadt, Deutschland<br />
<span style="font-weight: 400;">Authorised to represent: Markus Mustermann</span>
<br />
Email: <a href="mailto:mail@musterfirma.de">mail@musterfirma.de</a>
<br />
Phone: +49 4711 12345<br />
Company details: <a href="https://www.testfirma.de/impressum/">https://www.testfirma.de/impressum/</a>
</p>
<h2 id="speicherdauer-en">Storage Period</h2>
<p>It is a general criterion for us to store personal data only for as long as is absolutely necessary for the provision of our services and products. This means that we delete personal data as soon as any reason for the data processing no longer exists. In some cases, we are legally obliged to keep certain data stored even after the original purpose no longer exists, such as for accounting purposes.</p>
<p>If you want your data to be deleted or if you want to revoke your consent to data processing, the data will be deleted as soon as possible, provided there is no obligation to continue its storage.</p>
<p>We will inform you below about the specific duration of the respective data processing, provided we have further information.</p>
<h2 id="rechte-dsgvo-en">Rights in accordance with the General Data Protection Regulation</h2>
<p>You are granted the following rights in accordance with the provisions of the <a href="https://gdpr-info.eu/" target="_blank" rel="noopener">GDPR</a> (General Data Protection Regulation) and the Austrian <a href="https://www.ris.bka.gv.at/Dokumente/Erv/ERV_1999_1_165/ERV_1999_1_165.html" target="_blank" rel="noopener">Data Protection Act (DSG)</a>:</p>
<ul>
<li>right to rectification (article 16 GDPR)</li>
<li>right to erasure (“right to be forgotten“) (article 17 GDPR)</li>
<li>right to restrict processing (article 18 GDPR)</li>
<li>righ to notification – notification obligation regarding rectification or erasure of personal data or restriction of processing (article 19 GDPR)</li>
<li>right to data portability (article 20 GDPR)</li>
<li>Right to object (article 21 GDPR)</li>
<li>right not to be subject to a decision based solely on automated processing – including profiling – (article 22 GDPR)</li>
</ul>
<p>If you think that the processing of your data violates the data protection law, or that your data protection rights have been infringed in any other way, you can lodge a complaint with your respective regulatory authority. For Austria this is the data protection authority, whose website you can access at <a href="https://www.data-protection-authority.gv.at/?tid=311840430">https://www.data-protection-authority.gv.at/</a>.</p>
<h2 id="berlin-datenschutzbehoerde-en">Berlin Data protection authority</h2>
<p>
<strong>State Commissioner for Data Protection:</strong> Maja Smoltczyk<br />
<strong>Address: </strong>Friedrichstraße 219, 10969 Berlin<br />
<strong>Phone number:</strong> 030/138 89-0<br />
<strong>E-mail address:</strong> mailbox@datenschutz-berlin.de<br />
<strong>Website: </strong>
<a href="https://www.datenschutz-berlin.de/?tid=311840430" target="_blank" rel="noopener">https://www.datenschutz-berlin.de/</a>
</p>
<h2 id="datenuebertragung-drittlaender-en">Data transfer to third countries</h2>
<p>We only transfer or process data to countries outside the EU (third countries) if you consent to this processing, if this is required by law or if it is contractually necessary. In any case, we generally only do so to the permitted extent. In most cases, your consent is the most important reason for data being processed in third countries. When personal data is being processed in third countries such as the USA, where many software manufacturers offer their services and have their servers located, your personal data may be processed and stored in unexpected ways.</p>
<p>We want to expressly point out, that according to the European Court of Justice, there is currently no adequate level of protection for data transfer to the USA. Data processing by US services (such as Google Analytics) may result in data processing and retention without the data having undergone anonymisation processes. Furthermore, US government authorities may be able to access individual data. The collected data may also get linked to data from other services of the same provider, should you have a user account with the respective provider. We try to use server locations within the EU, whenever this is offered and possible.</p>
<p>We will provide you with more details about data transfer to third countries in the appropriate sections of this privacy policy, whenever applicable.</p>
<h2 id="sicherheit-datenverarbeitung-en">Security of data processing operations</h2>
<p>In order to protect personal data, we have implemented both technical and organisational measures. We encrypt or pseudonymise personal data wherever this is possible. Thus, we make it as difficult as we can for third parties to extract personal information from our data.</p>
<p>Article 25 of the GDPR refers to “data protection by technical design and by data protection-friendly default” which means that both software (e.g. forms) and hardware (e.g. access to server rooms) appropriate safeguards and security measures shall always be placed. If applicable, we will outline the specific measures below.</p>
<h2 id="tls-verschluesselung-https-en">TLS encryption with https</h2>
<p>The terms TLS, encryption and https sound very technical, which they are indeed. We use HTTPS (Hypertext Transfer Protocol Secure) to securely transfer data on the Internet.<br />
This means that the entire transmission of all data from your browser to our web server is secured &#8211; nobody can &#8220;listen in&#8221;.</p>
<p>We have thus introduced an additional layer of security and meet privacy requirements through technology design <a href="https://eur-lex.europa.eu/legal-content/en/TXT/HTML/?uri=CELEX:32016R0679&amp;from=EN&amp;tid=311840430" target="_blank" rel="noopener">Article 25 Section 1 GDPR</a>). With the use of TLS (Transport Layer Security), which is an encryption protocol for safe data transfer on the internet, we can ensure the protection of confidential information.<br />
You can recognise the use of this safeguarding tool by the little lock-symbol <img loading="lazy" role="img" src="https://www.adsimple.at/wp-content/uploads/2018/03/schlosssymbol-https-211141072.svg" width="17" height="18" />, which is situated in your browser’s top left corner in the left of the internet address (e.g. examplepage.uk), as well as by the display of the letters https (instead of http) as a part of our web address.<br />
If you want to know more about encryption, we recommend you to do a Google search for &#8220;Hypertext Transfer Protocol Secure wiki&#8221; to find good links to further information.</p>
<h2 id="cookies-en">Cookies</h2>
<table border="1" cellpadding="15">
<tbody>
<tr>
<td>
<strong> Cookies Overview </strong>
<br />
👥 Affected parties: visitors to the website<br />
🤝 Purpose: depending on the respective cookie. You can find out more details below or from the software manufacturer that sets the cookie.<br />
📓 Processed data: Depending on the cookie used. More details can be found below or from the manufacturer of the software that sets the cookie.<br />
📅 Storage duration: can vary from hours to years, depending on the respective cookie<br />
⚖️ Legal basis: Art. 6 para. 1 lit. a GDPR (consent), Art. 6 para. 1 lit. f GDPR (legitimate interests)</td>
</tr>
</tbody>
</table>
<h3>What are cookies?</h3>
<p>Our website uses HTTP-cookies to store user-specific data.<br />
In the following we explain what cookies are and why they are used, so that you can better understand the following privacy policy.</p>
<p>Whenever you surf the Internet, you are using a browser. Common browsers are for example, Chrome, Safari, Firefox, Internet Explorer and Microsoft Edge. Most websites store small text-files in your browser. These files are called cookies.</p>
<p>It is important to note that cookies are very useful little helpers. Almost every website uses cookies. More precisely, these are HTTP cookies, as there are also other cookies for other uses. HTTP cookies are small files that our website stores on your computer. These cookie files are automatically placed into the cookie-folder, which is the “brain” of your browser. A cookie consists of a name and a value. Moreover, to define a cookie, one or multiple attributes must be specified.</p>
<p>Cookies store certain user data about you, such as language or personal page settings. When you re-open our website to visit again, your browser submits these “user-related” information back to our site. Thanks to cookies, our website knows who you are and offers you the settings you are familiar to. In some browsers, each cookie has its own file, while in others, such as Firefox, all cookies are stored in one single file.</p>
<p>The following graphic shows a possible interaction between a web browser such as Chrome and the web server. The web browser requests a website and receives a cookie back from the server. The browser then uses this again as soon as another page is requested.</p>
<p>
<img role="img" src="https://www.adsimple.at/wp-content/uploads/2018/03/http-cookie-interaction.svg" alt="HTTP cookie interaction between browser and web server" width="100%" />
</p>
<p>There are both first-party cookies and third-party cookies. First-party cookies are created directly by our site, while third-party cookies are created by partner-websites (e.g. Google Analytics). Each cookie must be evaluated individually, as each cookie stores different data. The expiry time of a cookie also varies from a few minutes to a few years. Cookies are not software programs and do not contain viruses, trojans or other malware. Cookies also cannot access your PC’s information.</p>
<p>This is an example of how cookie-files can look:</p>
<p>
<strong>Name:</strong> _ga<br />
<strong>Value:</strong> GA1.2.1326744211.152311840430-9<br />
<strong>Purpose:</strong> Differentiation between website visitors<br />
<strong>Expiry date:</strong> after 2 years</p>
<p>A browser should support these minimum sizes:</p>
<ul>
<li>At least 4096 bytes per cookie</li>
<li>At least 50 cookies per domain</li>
<li>At least 3000 cookies in total</li>
</ul>
<h3>Which types of cookies are there?</h3>
<p>The exact cookies that we use, depend on the used services, which will be outlined in the following sections of this privacy policy. Firstly, we will briefly focus on the different types of HTTP-cookies.</p>
<p>There are 4 different types of cookies:</p>
<p>
<strong> Essential cookies<br />
</strong> These cookies are necessary to ensure the basic functions of a website. They are needed when a user for example puts a product into their shopping cart, then continues surfing on different websites and comes back later in order to proceed to the checkout. These cookies ensure the shopping cart does not get deleted, even if the user closes their browser window.</p>
<p>
<strong> Purposive cookies<br />
</strong> These cookies collect information about user behaviour and whether the user receives any error messages. Furthermore, these cookies record the website’s loading time as well as its behaviour in different browsers.</p>
<p>
<strong> Target-orientated cookies<br />
</strong> These cookies ensure better user-friendliness. Thus, information such as previously entered locations, fonts sizes or data in forms stay stored.</p>
<p>
<strong> Advertising cookies<br />
</strong>These cookies are also known as targeting cookies. They serve the purpose of delivering customised advertisements to the user. This can be very practical, but also rather annoying.</p>
<p>Upon your first visit to a website you are usually asked which of these cookie-types you want to accept. Furthermore, this decision will of course also be stored in a cookie.</p>
<p>If you want to learn more about cookies and do not mind technical documentation, we recommend <a href="https://tools.ietf.org/html/rfc6265" target="_blank" rel="nofollow noopener">https://tools.ietf.org/html/rfc6265</a>, the Request for Comments of the Internet Engineering Task Force (IETF) called &#8220;HTTP State Management Mechanism&#8221;.</p>
<h3>Purpose of processing via cookies</h3>
<p>The purpose ultimately depends on the respective cookie. You can find out more details below or from the software manufacturer that sets the cookie.</p>
<h3>Which data are processed?</h3>
<p>Cookies are little helpers for a wide variety of tasks. Unfortunately, it is not possible to tell which data is generally stored in cookies, but in the privacy policy below we will inform you on what data is processed or stored.</p>
<h3>Storage period of cookies</h3>
<p>The storage period depends on the respective cookie and is further specified below. Some cookies are erased after less than an hour, while others can remain on a computer for several years.</p>
<p>You can also influence the storage duration yourself. You can manually erase all cookies at any time in your browser (also see “Right of objection” below). Furthermore, the latest instance cookies based on consent will be erased is after you withdraw your consent. The legality of storage will remain unaffected until then.</p>
<h3>Right of objection &#8211; how can I erase cookies?</h3>
<p>You can decide for yourself how and whether you want to use cookies. Regardless of which service or website the cookies originate from, you always have the option of erasing, deactivating or only partially accepting cookies. You can for example block third-party cookies but allow all other cookies.</p>
<p>If you want to find out which cookies have been stored in your browser, or if you want to change or erase cookie settings, you can find this option in your browser settings:</p>
<p>
<a href="https://support.google.com/chrome/answer/95647?tid=311840430" target="_blank" rel="noopener"> Chrome: Clear, enable and manage cookies in Chrome </a>
</p>
<p>
<a href="https://support.apple.com/en-gb/guide/safari/sfri11471/mac?tid=311840430" target="_blank" rel="noopener"> Safari: Manage cookies and website data in Safari </a>
</p>
<p>
<a href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox?tid=311840430" target="_blank" rel="noopener"> Firefox: Clear cookies and site data in Firefox </a>
</p>
<p>
<a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies?tid=311840430" target="_blank" rel="noopener"> Internet Explorer: Delete and manage cookies </a>
</p>
<p>
<a href="https://support.microsoft.com/en-gb/help/4027947/microsoft-edge-delete-cookies?tid=311840430" target="_blank" rel="noopener"> Microsoft Edge: Delete cookies in Microsoft Edge </a>
</p>
<p>If you generally do not want cookies, you can set up your browser in a way to notify you whenever a cookie is about to be set. This gives you the opportunity to manually decide to either permit or deny the placement of every single cookie. This procedure varies depending on the browser. Therefore, it might be best for you to search for the instructions in Google. If you are using Chrome, you could for example put the search term “delete cookies Chrome” or “deactivate cookies Chrome” into Google.</p>
<h3>Legal basis</h3>
<p>The so-called “cookie directive” has existed since 2009. It states that the storage of cookies requires your <strong>consent</strong> (Article 6 Paragraph 1 lit. a GDPR). Within countries of the EU, however, the reactions to these guidelines still vary greatly. In Austria, however, this directive was implemented in Section 96 (3) of the Telecommunications Act (TKG). In Germany, the cookie guidelines have not been implemented as national law. Instead, this guideline was largely implemented in Section 15 (3) of the Telemedia Act (TMG).</p>
<p>For absolutely necessary cookies, even if no consent has been given, there are legitimate interests (Article 6 (1) (f) GDPR), which in most cases are of an economic nature. We want to offer our visitors a pleasant user experience on our website. For this, certain cookies often are absolutely necessary.</p>
<p>This is exclusively done with your consent, unless absolutely necessary cookies are used. The legal basis for this is Article 6 (1) (a) of the GDPR.</p>
<p>In the following sections you will find more detail on the use of cookies, provided the used software does use cookies.</p>
<h2 id="webhosting-en">Web hosting</h2>
<table border="1" cellpadding="15">
<tbody>
<tr>
<td>
<strong>Web hosting Overview</strong>
<br />
👥 Affected parties: visitors to the website<br />
🤝 Purpose: professional hosting of the website and security of operations<br />
📓 Processed data: IP address, time of website visit, browser used and other data. You can find more details on this below or at the respective web hosting provider.<br />
📅 Storage period: dependent on the respective provider, but usually 2 weeks<br />
⚖️ Legal basis: Art. 6 para. 1 lit. f GDPR (legitimate interests)</td>
</tr>
</tbody>
</table>
<h3>What is web hosting?</h3>
<p>Every time you visit a website nowadays, certain information &#8211; including personal data &#8211; is automatically created and stored, including on this website. This data should be processed as sparingly as possible, and only with good reason. By website, we mean the entirety of all websites on your domain, i.e. everything from the homepage to the very last subpage (like this one here). By domain we mean example.uk or examplepage.com.</p>
<p>When you want to view a website on a screen, you use a program called a web browser. You probably know the names of some web browsers: Google Chrome, Microsoft Edge, Mozilla Firefox, and Apple Safari.</p>
<p>The web browser has to connect to another computer which stores the website&#8217;s code: the web server. Operating a web server is complicated and time-consuming, which is why this is usually done by professional providers. They offer web hosting and thus ensure the reliable and flawless storage of website data.</p>
<p>Whenever the browser on your computer establishes a connection (desktop, laptop, smartphone) and whenever data is being transferred to and from the web server, personal data may be processed. After all, your computer stores data, and the web server also has to retain the data for a period of time in order to ensure it can operate properly.</p>
<p>Illustration:</p>
<p>
<img role="img" src="https://www.adsimple.at/wp-content/uploads/2018/03/browser-und-webserver.svg" alt="Browser and web server" width="100% " />
</p>
<h3>Why do we process personal data?</h3>
<p>The purposes of data processing are:</p>
<ol>
<li>Professional hosting of the website and operational security</li>
<li>To maintain the operational as well as IT security</li>
<li>Anonymous evaluation of access patterns to improve our offer, and if necessary, for prosecution or the pursuit of claims.li&gt;</li>
</ol>
<h3>Which data are processed?</h3>
<p>Even while you are visiting our website, our web server, that is the computer on which this website is saved, usually automatically saves data such as</p>
<ul>
<li>the full address (URL) of the accessed website (e. g. https://www.examplepage.uk/examplesubpage.html?tid=311840430)</li>
<li>browser and browser version (e.g. Chrome 87)</li>
<li>the operating system used (e.g. Windows 10)</li>
<li>the address (URL) of the previously visited page (referrer URL) (e. g. https://www.examplepage.uk/icamefromhere.html/)</li>
<li>the host name and the IP address of the device from the website is being accessed from (e.g. COMPUTERNAME and 194.23.43.121)</li>
<li>date and time</li>
<li>in so-called web server log files</li>
</ul>
<h3>How long is the data stored?</h3>
<p>Generally, the data mentioned above are stored for two weeks and are then automatically deleted. We do not pass these data on to others, but we cannot rule out the possibility that this data may be viewed by the authorities in the event of illegal conduct.</p>
<p>
<strong>In short:</strong> Your visit is logged by our provider (company that runs our website on special computers (servers)), but we do not pass on your data without your consent!</p>
<h3>Legal basis</h3>
<p>The lawfulness of processing personal data in the context of web hosting is justified in Art. 6 para. 1 lit. f GDPR (safeguarding of legitimate interests), as the use of professional hosting with a provider is necessary to present the company in a safe and user-friendly manner on the internet, as well as to have the ability to track any attacks and claims, if necessary.</p>
<h2 id="amazon-web-services-aws-datenschutzerklaerung-en">Amazon Web Services (AWS) Privacy Policy</h2>
<p>We use Amazon Web Services (AWS) for our website, which is a web hosting provider, among other things. The provider of this service is the American company Amazon Web Services, Inc., 410 Terry Avenue North, Seattle WA 98109, USA.</p>
<p>Amazon Web Services (AWS) also processes data in the USA, among other countries. We would like to note, that according to the European Court of Justice, there is currently no adequate level of protection for data transfers to the USA. This can be associated with various risks to the legality and security of data processing.</p>
<p>Amazon Web Services (AWS) uses standard contractual clauses approved by the EU Commission as basis for data processing by recipients based in third countries (outside the European Union, Iceland, Liechtenstein, Norway and especially in the USA) or data transfer there (= Art. 46, paragraphs 2 and 3 of the GDPR). These clauses oblige Amazon Web Services (AWS) to comply with the EU‘s level of data protection when processing relevant data outside the EU. These clauses are based on an implementing order by the EU Commission. You can find the order and the clauses here: <a href="https://ec.europa.eu/commission/presscorner/detail/en/ip_21_2847">https://ec.europa.eu/commission/presscorner/detail/en/ip_21_2847</a>
</p>
<p>You can find out more about the data that are processed through the use of Amazon Web Services (AWS) in their Privacy Policy at <a href="https://aws.amazon.com/privacy/?nc1=h_ls" target="_ blank" rel="noopener">https://aws.amazon.com/privacy/?nc1=h_ls</a>.</p>
<h2 id="push-nachrichten-en">Push Messages</h2>
<table border="1" cellpadding="15">
<tbody>
<tr>
<td>
<strong> Push Messages Overview</strong>
<br />
👥 Affected parties: subscribers to push messages<br />
🤝 Purpose: to notify you about interesting events that are relevant to the system<br />
📓 Processed data: data that was entered during registration, usually also location data. You can find more details on this at the respective push notification tool.<br />
📅 Storage period: data are usually stored for as long as is necessary for the service provision.<br />
⚖️ Legal bases: Art. 6 para. 1 lit. a GDPR (consent), Art. 6 para. 1 lit. b GDPR (contract)</td>
</tr>
</tbody>
</table>
<h3>What are push notifications?</h3>
<p>We use so-called push notification services on our website, which help us to keep our users up to date. Thus, if you have agreed to the use of such push notifications, we can send you short news using a software tool. Push messages are text messages that appear on your smartphone or on other devices such as tablets or PCs, provided you have registered for them. You can also receive these messages if you are not on our website at this point in time, or are not actively using our offer. Moreover, data about your location and your user behaviour may also be collected and stored.</p>
<h3>Why do we use push notifications?</h3>
<p>On the one hand, we use push notifications to be able to fully provide the services we have contractually agreed to with you. On the other hand, they are helpful to our online marketing. This is because we can show you our services or products better with them. Thus, we can inform you immediately if there is e.g. any news in our company. We also want to get to know our users&#8217; preferences and habits as well as possible, in order to continuously improve our offer.</p>
<h3>Which data are processed?</h3>
<p>For you to receive push notifications, you must confirm that you want to receive them. Any data accumulated during the process of confirming your consent is stored, managed and processed. This is necessary to recognise and proof users’ consent to receiving push notifications. Hence, a so-called device token or push token is stored in your browser. Along with this, your location data or the location of your device are usually also retained.</p>
<p>We also statistically evaluate how you handle our messages, so we can always send you push messages that are important and interesting. Thus, we can e.g. see when you open a message. With this knowledge we can adapt our communication strategy to your wishes and interests. Although this stored data could be assigned to you, we do not want to screen you as an individual. Rather, we are interested in the collected data from all our users so we can optimise further. In the privacy policies of the respective service providers, you can find out which data is stored exactly.</p>
<h3>Duration of data processing</h3>
<p>The duration of data processing and retention depends primarily on the tool we use. Below you can find out more about data processing of the individual tools. The providers’ privacy policies usually state exactly which data is stored and processed and for how long. Generally, personal data is only processed for as long as is necessary for the provision of our services. If data is stored in cookies, the storage duration can vary greatly. On the one hand, this data may be deleted immediately after leaving a website, and on the other hand it may get stored for several years. Therefore, if you want to know more about data storage, you should look at each individual cookie in detail. In most cases, you will also find informative information on individual cookies in the privacy policies of the respective providers.</p>
<h3>Legal basis</h3>
<p>It may be possible, that push messages may be necessary for us to be able to fulfill certain obligations in a contract. An example would be us notifying you about technical or organisational news. In this case, the legal basis is Art. 6 paragraph 1 lit. b of the GDPR.</p>
<p>Should this not be the case, push notifications will only be sent on the basis of your consent. Our push messages may particularly include advertising content. Furthermore, push notifications may also be sent depending on your location displayed on your device. The above-mentioned analytical evaluations are also based on your consent to their receipt. The legal basis for this is Article 6 (1) (a) of the GDPR. Of course, you can either revoke your consent at any time in the settings, or change various settings.</p>
<h2 id="content-delivery-networks-en">Content Delivery Networks</h2>
<table border="1" cellpadding="15">
<tbody>
<tr>
<td>
<strong> Content Delivery Networks Privacy Policy Overview</strong>
<br />
👥 Affected parties: website visitors<br />
🤝 Purpose: Service performance optimisation (to increase website loading speeds)<br />
📓 Processed data: data such as your IP address<br />
You can find more details on this below as well as in the individual Privacy Policies.<br />
📅 Storage period: most data is stored until it is no longer needed for the provision of the service.<br />
⚖️ Legal bases: Art. 6 para. 1 lit. a GDPR (consent), Art. 6 para. 1 lit. f GDPR (legitimate interests)</td>
</tr>
</tbody>
</table>
<h3>What is a Content Delivery Network?</h3>
<p>On our website we use a so-called content delivery network or CDN. This helps to load our website quickly and easily, regardless of your location. Moreover, your personal data will also be stored, managed and processed on the respective CDN provider&#8217;s servers. In the following, we will go into more general detail on this service and the data processing associated with it. You can find detailed information on how your data is handled in the provider&#8217;s Privacy Policy.</p>
<p>Each content delivery network (CDN) is a network of regionally distributed servers that are connected to each other via the internet. Through this network, website content (especially very large files) can be delivered quickly and smoothly, even when large loading peaks occur. To make this possible, CDNs create a copy of our website on their servers. The website can be delivered quickly because these servers are distributed all around the world. Any data transfer to your browser is therefore significantly shortened by the CDN.</p>
<h3>Why do we use a Content Delivery Network for our website?</h3>
<p>A fast loading website is part of our service. Of course, we know how annoying it is when a website loads at a snail&#8217;s pace. Most of the time, you lose your patience and click away before the website is fully loaded. But of course we want to avoid that. Therefore, to us a fast loading website is an obligatory part of our website offer. With the use of a content delivery network, our website loads significantly faster in your browser. Furthermore, CDNs are particularly helpful when you are abroad, as the website is always delivered from a server in your area.</p>
<h3>Which data are processed?</h3>
<p>If you access a website or its content and it gets cached in a CDN, the CDN forwards the request to the server closest to you which then delivers the content. Content delivery networks are built in a way that JavaScript libraries can be downloaded and hosted on npm and Github servers. Alternatively, WordPress plugins can also be loaded on most CDNs, provided they are hosted on <a href="https://wordpress.org/" target="_blank" rel="noopener"> WordPress.org</a>. Moreover, your browser can send personal data to the content delivery network we use. This includes data such as IP addresses, browser type, browser version, the accessed website or the time and date of the page visit. This data is collected and stored by the CDN. Whether cookies are used for data storage depends on the network that is being used. For more information on this, please read the Privacy Policy of the respective service.</p>
<h3>Right to object</h3>
<p>If you want to prevent this data transfer altogether, you can use a JavaScript blocker (see for example <a href="https://noscript.net/" target="_blank" rel="noopener"> https://noscript.net/</a>) on your computer. However, our website can then of course no longer offer its usual service (such as a fast loading speeds).</p>
<h3>Legal basis</h3>
<p>If you have consented to the use of a content delivery network, your consent represents the the legal basis for the corresponding data processing. According to <strong> Art. 6 paragraph 1 lit. a (consent)</strong> your consent represents the legal basis for the processing of personal data, as it can occur when collected by a content delivery network.</p>
<p>We also have a legitimate interest in using a content delivery network to optimise our online service and make it more secure. The corresponding legal basis for this is <strong> Art. 6 para. 1 lit. f GDPR (legitimate interests)</strong>. Nevertheless, we only use the tool if you have consented to it.</p>
<p>Provided this information is available, you can find out more about the particular content delivery networks in the following sections.</p>
<h2 id="vimeo-datenschutzerklaerung-en">Vimeo Privacy Policy</h2>
<table border="1" cellpadding="15">
<tbody>
<tr>
<td>
<strong> Vimeo Privacy Policy Overview</strong>
<br />
👥 Affected parties: website visitors<br />
🤝 Purpose: optimising our service<br />
📓 Processed data: Data such as contact details, data on user behaviour, information about your device and IP address may be stored.<br />
You can find more details on this in privacy policy below.<br />
📅 Storage period: data are generally stored for as long as is necessary for the purpose of the service<br />
⚖️ Legal basis: Art. 6 para. 1 lit. a GDPR (consent), Art. 6 para. 1 lit. f GDPR (legitimate interests)</td>
</tr>
</tbody>
</table>
<h3>What is Vimeo?</h3>
<p>On our website, we use videos of the company Vimeo. This video portal is operated by Vimeo LLC, 555 West 18th Street, New York, New York 10011, USA. With the help of a plug-in, we can display interesting video material directly on our website. Consequently, some of your data may be transmitted to Vimeo. In this privacy policy we want to explain to you what data this is, why we use Vimeo and how you can manage your data or prevent data transmission.</p>
<p>Vimeo is a video platform that was founded in 2004 and introduced video streaming in HD quality in 2007. Since 2015 it has been possible to stream in 4k Ultra HD. The use of the portal is free of charge, but it also contains certain paid content. Compared to the market leader YouTube, Vimeo attaches great importance to valuable content in good quality. On the one hand, the portal offers a lot of artistic content such as music videos and short films. On the other hand, it also offers useful documentaries on a broad spectrum of topics.</p>
<h3>Why do we use Vimeo on our website?</h3>
<p>The aim of our website is to provide you the best possible content, in the easiest and most accessible way we can. We will only be satisfied with our service, once we have reached that goal. The video service Vimeo supports us in achieving this goal. Vimeo gives us the opportunity to present high quality content to you directly on our website. Instead of us merely giving you a link to an interesting video, you can watch the video here with us. This extends our service and makes it easier for you to access interesting content. Therefore, in addition to our texts and images, we can also offer video content.</p>
<h3>What data is stored on Vimeo?</h3>
<p>When you open a site on our website that has a Vimeo video embedded to it, your browser will connect to Vimeo’s servers, and a data transmission will take place. The data are then collected, stored and processed on Vimeo’s servers. Regardless of whether you have a Vimeo account or not, Vimeo collects data about you. This includes your IP address, technical information about your browser type, your operating system or very basic device information. Furthermore, Vimeo store information on what website you use their service on and which actions (web activities) you carry out on our website. These web activities include e.g. session duration, bounce rate or which button you clicked on our site that contains a Vimeo function. Vimeo can track and store these actions using cookies and similar technologies.</p>
<p>If you are logged in as a registered member of Vimeo, more data may be collected, since a bigger number of cookies may already have been set in your browser. Furthermore, your actions on our website are directly linked to your Vimeo account. To prevent this, you must log out of Vimeo while &#8220;surfing&#8221; our website.</p>
<p>Below we will show you an array of cookies Vimeo sets when you are on a website containing an integrated Vimeo function. This list is not exhaustive and assumes that you do not have a Vimeo account.</p>
<p>
<strong>Name:</strong> player<br />
<strong>Value:</strong> &#8220;&#8221;<br />
<strong> Purpose:</strong> This cookie saves your settings before you play an embedded Vimeo video. This will ensure you to receive your preferred settings again next time you watch a Vimeo video.<br />
<strong> Expiry date:</strong> after one year</p>
<p>
<strong>Name</strong>: vuid<br />
<strong> Value: </strong>pl1046149876.614422590311840430-4<strong>
<br />
<strong> Purpose: </strong>
</strong> This cookie collects information about your actions on websites that have a Vimeo video embedded to them.<strong>
<br />
<strong> Expiry date: </strong>
</strong>after 2 years</p>
<p>
<strong>Note: </strong>These two cookies are set every time as soon as you are on a website that has a Vimeo video embedded to it. If you watch the video and click a button such as &#8220;share&#8221; or &#8220;like&#8221;, additional cookies will be set. These can also be third-party cookies such as _ga or _gat_UA-76641-8 from Google Analytics or _fbp from Facebook. The exact cookies that are set depends on your interaction with the video.</p>
<p>The following list will show a selection of cookies that could be placed when you interact with a Vimeo video:</p>
<p>
<strong>Name</strong>: _abexps<br />
<strong> Value:</strong> %5B%5D<strong>
<br />
Purpose:</strong> This Vimeo cookie helps Vimeo to remember your settings. For example, this can be a pre-set language, a region or a username. The cookie generally stores data on how you use Vimeo.<strong>
<br />
Expiry date:</strong> after one year</p>
<p>
<strong>Name:</strong> continuous_play_v3<br />
<strong> Value:</strong> 1<br />
<strong> Purpose: </strong> This cookie is a first-party cookie from Vimeo. The cookie collects information on how you use Vimeo’s service. For example, the cookie stores details on when you pause a video and resume it.<br />
<strong> Expiry date:</strong> after one year</p>
<p>
<strong>Name:</strong> _ga<br />
<strong> Value:</strong> GA1.2.1522249635.1578401280311840430-7<br />
<strong> Purpose: </strong> This cookie is a third-party cookie from Google. By default, analytics.js uses the _ga cookie to store the user ID. Thus, it serves to differentiate between website visitors.<br />
<strong> Expiry date:</strong> after 2 years</p>
<p>
<strong>Name:</strong> _gcl_au<br />
<strong> Value:</strong> 1.1.770887836.1578401279311840430-3<br />
<strong> Purpose: </strong> This third-party cookie from Google AdSense is used to improve the efficiency of ads on websites.<br />
<strong> Expiry date:</strong> after 3 months</p>
<p>
<strong>Name:</strong> _fbp<br />
<strong> Value:</strong> fb.1.1578401280585.310434968<br />
<strong> Purpose:</strong>This is a Facebook cookie. It is used to display adverts or advertising products from Facebook or other advertisers.<br />
<strong> Expiry date:</strong> after 3 months</p>
<p>Vimeo use this data to improve their own service, to communicate with you and to implement their own targeted advertising measures. On their website they emphasise that only first-party cookies (i.e. cookies from Vimeo itself) are used for embedded videos, provided you do not interact with the video.</p>
<h3>How long and where is the data stored?</h3>
<p>Vimeo is headquartered in White Plains, New York (USA). However, their services are offered worldwide. For this, the company uses computer systems, databases and servers in the United States and other countries. Thus, your data may also be stored and processed on servers in America. Vimeo stores the data until the company no longer has an economical reason for keeping it. Then the data will be deleted or anonymised. Vimeo correspond to the EU-U.S. Privacy Shield Framework and are therefore allowed to collect and use information from users within the EU, and to transfer this data to the USA.</p>
<h3>How can I erase my data or prevent data retention?</h3>
<p>You always have the option to manage cookies in your browser. If you do not want Vimeo to set cookies and collect information about you for example, you can delete or deactivate cookies in your browser settings at any time. These settings vary a little depending on the browser. Please note that after deactivating/deleting cookies, various functions may no longer be fully available. The following instructions show how you can manage or delete cookies in your browser.</p>
<p>
<a href="https://support.google.com/chrome/answer/95647?tid=311840430" target="_blank" rel="noopener"> Chrome: Clear, enable and manage cookies in Chrome </a>
</p>
<p>
<a href="https://support.apple.com/en-gb/guide/safari/sfri11471/mac?tid=311840430" target="_blank" rel="noopener"> Safari: Manage cookies and website data in Safari </a>
</p>
<p>
<a href=" https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox?tid=311840430" target="_blank" rel="noopener"> Firefox: Clear cookies and site data in Firefox </a>
</p>
<p>
<a href=" https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies?tid=311840430" target="_blank" rel="noopener"> Internet Explorer: Delete and manage cookies </a>
</p>
<p>
<a href=" https://support.microsoft.com/en-gb/help/4027947/microsoft-edge-delete-cookies?tid=311840430" target="_blank" rel="noopener"> Microsoft Edge: Delete cookies in Microsoft Edge </a>
</p>
<p>If you are a registered Vimeo member, you can also manage cookies in Vimeo’s settings.</p>
<h3>Legal basis</h3>
<p>If you have consented to the processing and storage of your data by integrated Vimeo elements, this consent is the legal basis for data processing <strong> (Art. 6 para. 1 lit. a GDPR) </strong>. Generally, your data is also stored and processed on the basis of our legitimate interest <strong> (Art. 6 para. 1 lit. f GDPR)</strong> to maintain fast and good communication with you or other customers and business partners. Nevertheless, we only use integrated Vimeo elements if you have given your consent. Vimeo also sets cookies in your browser to store data. We therefore recommend you to read our privacy policy on cookies carefully and to take a look at the privacy policy or the cookie policy of the respective service provider.</p>
<p>Vimeo also processes data in the USA, among other countries. We would like to note, that according to the European Court of Justice, there is currently no adequate level of protection for data transfers to the USA. This can be associated with various risks to the legality and security of data processing.</p>
<p>Vimeo uses standard contractual clauses approved by the EU Commission as basis for data processing by recipients based in third countries (outside the European Union, Iceland, Liechtenstein, Norway, and especially in the USA) or data transfer there (= Art. 46, paragraphs 2 and 3 of the GDPR). These clauses oblige Vimeo to comply with the EU‘s level of data protection when processing relevant data outside the EU. These clauses are based on an implementing order by the EU Commission. You can find the order and the clauses here: <a href="https://ec.europa.eu/commission/presscorner/detail/en/ip_21_2847">https://ec.europa.eu/commission/presscorner/detail/en/ip_21_2847</a>
</p>
<p>You can find out more about the use of cookies at Vimeo at <a href="https://vimeo.com/cookie_policy?tid=311840430" target="_blank" rel="follow noopener">https://vimeo.com/cookie_policy</a>. Furthermore, you can find more information on privacy at Vimeo at <a href="https://vimeo.com/privacy?tid=311840430" target="_blank" rel="follow noopener">https://vimeo.com/privacy</a>.</p>
<p>All texts are copyrighted.</p>
<p style="margin-top:15px;">Source: Created with the <a href="https://www.adsimple.de/datenschutz-generator/" title="Datenschutz Generator by AdSimple for Germany">Datenschutz Generator</a> by AdSimple</p>
