extends layout 

block script-push

block main 
  h1 Danger zone!
  
  form(action="/superuser/delete-inactive-events" method="post" class="delete")
    h3 Delete events with no activity in the past three months
    input(type="submit" value="Delete events" class="delete") 

  form(action="/superuser/delete-inactive-participants" method="post" class="delete")
    h3 Delete participants with no activity in the past six months
    input(type="submit" value="Delete participants" class="delete")

  h3 
    a(href="/signout")