extends layout 

block main 
  h1 Danger 
  
  h3 
    a(href="/superuser/delete-inactive-events") Delete events with no activity in the past three months.

  h3 
    a(href="/superuser/delete-inactive-participants") Delete participants with no activity in the past six months.