extends layout 

block headerlinks

block script

block main 
  p 
    img(src="images/thrsqrlogo.png" width="125")
  h1 ThrSqr
  p your RSVP tracker for weekly events and friendly people.
  h3 
    a(href="/event/new") Set up new event.