extends layout 

block headerlinks

block script-application

block main 
  p 
    img(src="images/thrsqrlogo.png" width="125")
  h1 ThrSqr
  p= TEXTS.claim
  h3 
    a(href="/event/new")= TEXTS.setup