extends header-footer 

append script
  script(src="/javascript/push.js" type="module") 

append stylesheet 
  link(rel="stylesheet" href="/stylesheets/welcome.css")

block main 
  main
    h2= TEXTS.claim
    h3!= TEXTS.benefits

    a(href="/event/new")
      button.btn= TEXTS.setup

    ol 
      each step in TEXTS.steps
        li= step
