body {
  background-color: #c8f3c8;
  color: #174117;
  font: normal 1.25rem "Hepta Slab", Georgia, 'Times New Roman', Times, serif;
  margin: 20px;
  max-width: 640px;
  word-wrap: break-word;
}

/*
h1, h2, h3 {
  padding: 10px 0;
}

h1 {
  font-size: 225%;
}

h2 {
  font-size: 150%;
}

section h2 {
  padding-top: 40px;
}
*/

header, 
main {
  padding-bottom: 40px;
}

section {
  padding: 20px 0;
}

main > form {
  margin-top: 25px;
}

form dt {
  padding-bottom: 5px;
}

form dd {
  margin-left: 0px;
  padding-bottom: 20px;
}

form input[type="text"],
form input[type="time"],
form input[type="submit"],
form select,
form textarea, 
main > form button {
  border: 2px solid #165316;
  color: #174117;
  border-radius: 3px;
  box-sizing: border-box;
  font: inherit;
  padding: 5px 5px;
  width: 480px;
}

main > form button {
  -moz-appearance: none;
  -webkit-appearance: none;
  color: white;
  font-weight: bold;
  width: 210px;
  height: 70px;
  margin-right: 60px;
}

form input[type="submit"] {
  color: white;
  font-weight: bold;
}

#there, form input[type="submit"] {
  background-color: #00a900;
}

#there:hover, form input[type="submit"]:hover {
  background-color: #1bd31b;
}

#square {
  background-color: #a92700;
}

#square:hover {
  background-color: #d4461b;
}

footer {
  font-size: 1rem;
  color: #488248;
}

a {
  color: #006a00;
}

a:hover {
  color: #00a900;
}

#responses button {
  border: none;
  background: transparent url("../images/icon_delete.png") 0 3px no-repeat;
  box-sizing: border-box;
  height: 27px;
  width: 24px;
  opacity: 0.5;
  margin-left: 14px;
}

#responses button:hover {
  opacity: 1;
}

#responses p {
  margin-bottom: 20px;
}

#timezoneinfo {
  font-size: 50%;
}